@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --body: #fde8d3;
    --myBG: #C8A2C8;
    --letterDark: #657166;
    --letterLight: #daebe3;
    --btnPrimary: #99cdd8;
    --btnSecondary: #f3c3b2;
    --details: purple;

}

* {
    box-sizing: border-box;
    color: #000;
}

body {
    height: fit-content;
    background-color: var(--body);
    background-image: url(../public/img/hojas.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landscape {
    width: 100%;
    max-width: 900px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    background-color: var(--myBG);
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}



.cursiveFont {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.login {
    background: rgba(172, 124, 200, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.myBG {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    padding: 8px;
    background-image: url(../public/img/IMG-20240725-WA0033.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* --------------header------------------- */

.myBackground {
    width: 100dvw;
    max-width: 900px;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage {
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: max-content;
    position: absolute;

}

.mylogo {
    width: 60dvw;
    height: max-content;
    position: absolute;
    margin: auto;
}

/* --------------Cards------------------- */

.cardsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1;
}

.card {
    width: 45%;
    height: 30vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    text-align: center;
}

.timeSet {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.icon {
    width: 50%;
}

.btn {
    width: fit-content;
    padding: 10px;
    background: var(--btnPrimary);
    text-align: center;
    border-radius: 5px;
    color: var(--letterLight);
}

.bigCard {
    width: 95%;
    background-color: var(--body);
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 2rem;
    margin-bottom: 20px;

}

@media (min-width: 720px) {
    .landscape {
        border: 5px solid var(--details);
        box-sizing: content-box;
    }

    .mylogo {
        width: 250px;

    }
}